/* general modules */



.scene--small {
    -fx-padding: 48px;
    -fx-alignment: center;
    -fx-background-repeat: stretch;
    -fx-background-position: center center;
}

.logo-wrapper {
    -fx-alignment: center;
    -fx-padding: 0 !important;
}

.logo {
    -fx-background-image: url("../images/logo.png");
    -fx-background-repeat: no-repeat;
    -fx-background-size: contain;
    -fx-background-position: center center;
    -fx-pref-height: 90px;
    -fx-pref-width: 288px;
}

.overlay {
    -fx-spacing: 8px;
    -fx-alignment: center;
    -fx-background-color: rgba(0, 0, 0, 0.8);
    -fx-padding: 48px;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.5), 4, 0, 0, 0);
}

.column {
    -fx-max-width: 288px;
    -fx-alignment: center;
}

.login-form-wrapper {
    -fx-pref-width: 224px;
    -fx-max-width: 224px;
    -fx-spacing: 8px;
}

.login-form-label {
    -fx-font-size: 12px;
    -fx-font-weight: 700;
    -fx-text-fill: #cccccc;
}

.player-wrapper {
    -fx-alignment: center;
    -fx-spacing: 4px;
}

.player-icon {
    -fx-min-height: 32px;
    -fx-min-width: 32px;
    -fx-background-repeat: no-repeat;
    -fx-background-size: cover;
    -fx-background-position: center center;
    -fx-border-style: solid;
    -fx-border-width: 0px;
    -fx-border-insets: -3px;
    -fx-border-radius: 2px;
    -fx-background-radius: 2px;
    -fx-background-color: transparent;
    -fx-background-insets: -2px;
    -fx-focus-color: transparent;
}

.player-icon--lg {
    -fx-min-height: 48px;
    -fx-min-width: 48px;
    -fx-background-size: 48px;
}

#player-icon--1 {
    -fx-background-image: url("../images/robots/brown.jpg");
    -fx-border-color: linear-gradient(#a6480c, #793507);
}

#player-icon--2 {
    -fx-background-image: url("../images/robots/yellow.jpg");
    -fx-border-color: linear-gradient(#f9c80e, #9d7f06);
}

#player-icon--3 {
    -fx-background-image: url("../images/robots/blue.jpg");
    -fx-border-color: linear-gradient(#023788, #2de2e6);
}

#player-icon--4 {
    -fx-background-image: url("../images/robots/green.jpg");
    -fx-border-color: linear-gradient(#028809, #f9c80e);
}

#player-icon--5 {
    -fx-background-image: url("../images/robots/orange.jpg");
    -fx-border-color: linear-gradient(#ff6c11, #f58435);
}

#player-icon--6 {
    -fx-background-image: url("../images/robots/red.jpg");
    -fx-border-color: linear-gradient(#a40512, #a4056b);
}

/* login specific modules */

.login-scene {
    -fx-background-color: radial-gradient(center 50% 50% ,radius 60% , #2e021e, #0b0d1a);
    -fx-alignment: center;
    -fx-padding: 96px 48px;
}

.login-container {

}

.login-background {
    -fx-opacity: 0.5;
    -fx-max-width: 400px;
}

.login-overlay {
    -fx-background-image: url("../images/misc/login-bg-1.png");
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-size: stretch;
    -fx-max-width: 1024px;
    -fx-max-height: 632px;
    -fx-spacing: 16px;
}

.logo-wrapper--login {
    -fx-alignment: top-left;
    -fx-padding: 0 !important;
    -fx-pref-height: 90px;
}

.logo--login {
    -fx-background-position: top left !important;
    -fx-alignment: top-center !important;
}

.login-form-text-input {

}

.login-button-wrapper {
    -fx-spacing: 16px;
    -fx-alignment: center-left;
}

.login-warning {
    -fx-text-fill: #FD1D53;
    -fx-font-size: 10;
    -fx-font-weight: 300;
    -fx-alignment: center-left;
}

.login-warning--primary {
    -fx-text-fill: #f16a17;
}

/* lobby specific modules */

.lobby-scene {
    -fx-alignment: center;
    -fx-hgap: 8px;
    -fx-vgap: 8px;
    -fx-max-width: 1262px;
    -fx-max-height: 690px;
}

.lobby-overlay {
    -fx-spacing: 32px !important;
}

.lobby-center-wrapper {
    -fx-max-width: 1024px;
    -fx-spacing: 8px;
}

.lobby-form-wrapper {
    -fx-alignment: center !important;
    -fx-spacing: 16px !important;
}



.map-picker {
    -fx-fill-width: true;
    -fx-pref-height: 200px;
    -fx-background-color: #000;
}

.map-selection-overlay {
    -fx-alignment: center-left;
    -fx-padding: 0 32px;
    -fx-spacing: 32px;
    -fx-pref-height: 90px;
    -fx-max-width: 1024px;
}

.map-option-wrapper {
    -fx-fill-height: true;
    -fx-fill-width: true;
    -fx-spacing: 16px;
    -fx-alignment: center;
}

.map-option {
    -fx-pref-height: 62px;
    -fx-max-height: 62px;
    -fx-pref-width: 80px;
    -fx-border-color: rgb(246, 1, 157);
    -fx-border-style: solid;
    -fx-border-width: 0px;
    -fx-border-insets: -2px;
}

.map-option-image {
    -fx-background-repeat: no-repeat;
    -fx-background-size: cover;
    -fx-background-position: center;
}

.map-option-overlay {
    -fx-pref-height: 62px;
    -fx-max-height: 62px;
    -fx-pref-width: 80px;
    -fx-background-color: rgba(0, 0, 0, 0.8);
    -fx-alignment: center;
}

.map-option-title {
    -fx-font-size: 11px;
}

.lobby-sidebar {
    -fx-pref-width: 200px;
}



/* main scene specific modules */

.main-scene {
    -fx-pref-height: 720px;
    -fx-pref-width: 1280px;
}

.navbar {
    -fx-background-color: #0D0221;
    -fx-pref-height: 55px;
    -fx-alignment: center-right;
    -fx-padding: 0 0 0 32px;
}

.logo--navbar {
    -fx-pref-height: 56px;
    -fx-pref-width: 97px;
    -fx-background-size: 97px 38px;
    -fx-padding: 0 0 0 32px;
}

.player-bar {
    -fx-alignment: center;
    -fx-spacing: 32px;
    -fx-padding: 0 130px 0 0;
}

.player-bar--lobby {
    -fx-padding: 0;
}

.profile-wrapper {
    -fx-pref-width: 230px;
    -fx-padding: 0 32px 0 16px;
    -fx-spacing: 8px;
    -fx-alignment: center-left;
    -fx-text-fill: #ffffff;
}

.profile-status {
    -fx-alignment: center-left;
    -fx-text-fill: #ffffff;
}

.profile-name {
    -fx-font-size: 12px;
    -fx-font-weight: 300;
}

.profile-energy {
    -fx-font-size: 10px;
    -fx-font-weight: 700;
}

.center {
}

.map {
    -fx-alignment: center;
    -fx-background-color: linear-gradient(to top right, #020015,#19002a);
}

.tile {
    -fx-border-color: #a9a9a9;
    -fx-border-size: 2px;
    -fx-border-style: none;
}

.card-wrapper {
    -fx-background-color: #04010c;
    -fx-alignment: center;
    -fx-padding: 8 4px 16px 4px;
    -fx-vgap: 4px;
    -fx-background-image: url("../images/login-bg2-dark.jpg");
    -fx-background-repeat: no-repeat;
    -fx-background-position: center center;
}

.card-row {
    -fx-alignment: center;
    -fx-hgap: 16px;
    -fx-padding: 0;
}

.upper-card-row {

}

.lower-card-row {

}

.card-area {
    -fx-background-image: url("../images/card.png");
}

.card-area--sm {
    -fx-pref-width: 62px;
    -fx-pref-height: 90px;
    -fx-alignment: center;
    -fx-background-size: contain;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-image: url("../images/card-blue.png");
    -fx-border-color: #2de2e6;
    -fx-border-width: 0px;
    -fx-border-style: solid;
    -fx-border-radius: 2px;
    -fx-background-radius: 2px;
    -fx-border-insets: -2px;
}

#card {
    -fx-pref-width: 76px;
    -fx-pref-height: 110px;
    -fx-border-radius: 10px;
    -fx-alignment: center;
    -fx-background-size: contain;
    -fx-background-repeat: no-repeat;
    /*-fx-text-fill: #fff;
    -fx-font-weight: 300;
    -fx-font-size: 12px*/
}

.sidebar {
    -fx-fill-height: true;
    -fx-pref-width: 230px;
    -fx-alignment: bottom-center;
    -fx-spacing: 40px;
    -fx-background-color: linear-gradient(to top right, rgba(2,0, 21, 0.9), rgba(25,0, 42, 0.9));
    -fx-padding: 32px 0 0 0;
}

.upgradeBar {
    -fx-alignment: center;
    -fx-padding: 48px 16px;
}

.upgradeGrid {
    -fx-alignment: center;
    -fx-vgap: 16px;
    -fx-hgap: 16px;
    -fx-padding: 0 32px;
}

.chat-input-wrapper {
    -fx-alignment: center;
    -fx-spacing: 8px;
    -fx-padding: 16px;
}

.scroll-board {
    -fx-hbar-policy: Never;
    -fx-alignment: bottom-center;
    -fx-pannable: true;
}

.message-board {
    -fx-spacing: 16px;
    -fx-pref-height: 100%;
    -fx-fill-width: true;
    -fx-padding: 0px;
}

.chat-headline {
    -fx-text-alignment: center !important;
}

.message-wrapper {
    -fx-padding: 8;
    -fx-fill-width: true;
    -fx-spacing: 4px;
}

.message-label {
    -fx-text-fill: #ddd;
    -fx-font-weight: 300;
}

.message {
    -fx-min-height: 40px;
    -fx-padding: 8px;
    -fx-font-size: 12;
    -fx-font-weight: 500;
    -fx-border-style: solid;
    -fx-border-width: 2px;
}

.message-text {
    -fx-wrap-text: true;
    -fx-text-fill: #ffffff;
}

.message--primary {
    -fx-border-color: rgb(246, 1, 157);
}

.message--secondary {
    -fx-border-color: #2de2e6;
}

.message--server {
    -fx-border-color: #f9c80e;
}

.message--default {
    -fx-border-color: #18123f;
}

/* Lobby scene */


.readyButton {
    -fx-text-fill: white;
}

.player-icon-1 {
}

/* errorScene specific modules */

.error-overlay {
    -fx-spacing: 32px;
}

.error-message {
    -fx-max-width: 280px;
    -fx-wrap-text: true;
}