.button--primary:hover {
    -fx-background-color: #F6019D;
}

.send-button:hover {
    -fx-background-image: url("../images/sendButton_green.png");
}

.tile:hover {
    -fx-background-color: #ddd;
}

